@import url("https://fonts.googleapis.com/css?family=Gamja+Flower:400");

body {
  font-family: "Gamja Flower";
}

.hidden {
  display: none;
}

.checked {
  text-decoration: line-through red;
}

.protector {
  /* position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px; */
  /* background-color: black;
  z-index: -2; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bgImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  z-index: -1;
  min-height: 750px;
}

.fronter {
  position: absolute;
  top: 10px;
  animation: floater 3s ease-in-out infinite;
  color: white;
}

@keyframes floater {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

#clock {
  font-size: 70px;
  color: white;
}

#greeting {
  position: absolute;
  top: 180px;
  color: white;
  animation: advent 0.6s ease-in-out;
}

@keyframes advent {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  /* 50% {
    transform: translateY(10px);
  } */
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.package {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 300px;
}

.intro {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}
#todo-form {
}

#todo-form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  width: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

#todo-form input:focus {
  outline: none;
}

#todo-list {
  list-style: none;
  margin-top: 40px;
}

#todo-list li {
  margin-bottom: 20px;
  display: flex;
  color: white;
  font-size: 20px;
  /* width: 200px; */
  position: relative;
}

#todo-list button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  /* background-color: transparent; */
  animation: buttonBeat 3s ease-in-out infinite;
}

#todo-list li button:last-child {
  width: 30px;
  position: absolute;
  right: 10px;
}

@keyframes buttonBeat {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.3);
  }

  100% {
    transform: none;
  }
}

#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: #f7d500;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: black;
}

@media screen and (max-width: 654px) {
  #no-mobile {
    display: none;
  }
}
