.hidden {
  display: none;
}

.protector {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  z-index: -1;
}
